<div{{ wrapper_attributes }}>
  {% if media or overlay_attributes %}
    <div class="header-background">
      {% if media %}
        {{ media }}
      {% endif %}
      {% if overlay_attributes %}
        <div{{ overlay_attributes }}></div>
      {% endif %}
    </div>
  {% endif %}
  {% if page_title %}
    <h1{{ title_attributes }}>{{ page_title }}</h1>
  {% endif %}
</div>
